body {
    background-color: #f7f8aa;
    color: rgb(221, 87, 87);
    font-family: "Montserrat Underline", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #fffc57;
    color: rgb(255, 34, 34);
    font-family: "Montserrat Underline", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}